// Colors
$color-white: #fff;
$color-background-white: #fff;
$color-background-grey: #f8f8f8;
$color-black: #1e2123;
$color-yellow: #ffd54f;
$color-grey-dark: #686868;
$color-grey-font: #8291a3;
$color-grey-light: #bdbdbd;
$color-grey-default: #f8f8f8;
$color-cobalt: #664ef9;
$color-yellow-linear: linear-gradient(106.06deg, #ffd54f 1.12%, #fec100 97.96%);
$color-violet-linear: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
$color-violet-linear-hover: linear-gradient(90deg, #867cfc 0%, #6929f3 94.5%);

// Device
$desktop-width: 1440px;

// $tablet-width: 768px;
// $mobile-width: 320px;
// $max-tablet-width: 1919.98px;
// $max-mobile-width: 767.98px;
