/* // Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #b1b1b1;
$color-grey-ligth: #e5e5e5;
$color-navy: #4c858b;
$color-navy-dark: #215359;
$color-navy-bright: #0c2f33;
$color-red: #ae2236;
$color-red-light: #e33e54;
$color-orange: #ea6628;

// Device
$desktop-width: 1920px;
$tablet-width: 768px;
$mobile-width: 320px;
$max-tablet-width: 1919.98px;
$max-mobile-width: 767.98px;
 */