
// Colors
$color-white: #fff;
$color-background: #E5E5E5;
$color-black: #1E2123;
$color-yellow: #FFD54F;
$color-grey-dark: #686868;
$color-grey-light: #BDBDBD;
$color-grey-default: #F8F8F8;
$color-cobalt: #664EF9;


$color-yellow-linear: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);

// Device
$desktop-width: 1440px;
// $tablet-width: 768px;
// $mobile-width: 320px;
// $max-tablet-width: 1919.98px;
// $max-mobile-width: 767.98px;
