.filter {
  margin-bottom: 86px;
}

.popular {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 114px;
}

.services {
  margin-top: -125px;
  position: relative;
  z-index:2;
  margin-bottom: 125px;
}

.about {
  margin-bottom: 99px;
}