@import '../../../../styles/helpers/variables';

.container {
  width: 744px;
  //text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-dark;

  &_confirm {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .content {
        //width: 310px;
        margin-bottom: 22px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color-grey-dark;
    }

    & .title {
        display: inline-block;
        //width: 310px;
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
  }

  & a {
    font-weight: 500;
    line-height: 20px;
    color: $color-cobalt;
    flex-shrink: 0;
  }

  & iframe {
/*     border-radius: 3px;
    border: 3px solid transparent; */
  }
}

.title {
  font-size: 25px;
  color: $color-total-black;
  margin-bottom: 15px;
  margin-left: 72px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.description {
    width: 388px;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}


.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listTitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.list {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 70px;
}