.subnav {
    background: $color-white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);

    & .container {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__logo {
        margin-right: 84.4px;
    }

    &__list {
        display: flex;

    }

    &__item {
        margin-right: 80px;
        position: relative;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        display: inline-block;
        height: 40px;
        margin-bottom: -15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $color-black;

        &:hover {
            border-bottom: 3px solid $color-yellow;
        }


        &_icon {
            position: relative;
            padding-right: 15px;

            &::after {
                position: absolute;
                width: 12px;
                height: 15px;
                top:12%;
                right:-5px;
                content: '';
                background-color: $color-yellow;
                mask-image: url('../../../assets/images/icons/map.svg');
                mask-repeat: no-repeat;
            }
            
        }
    }

    &__submenu {
        position: absolute;
        top: 69px;
        width: 242px;
        background: $color-white;
        box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
        border-radius: 10px;
    }

    &__sub-item {
        padding-left: 15px;
        padding-right: 11px;

        &:last-child {
            margin-bottom: 0px;
        }

        &:hover {
            
            background-color: $color-grey-default;
        }

    }
    &__sub-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color-black;
        height: 37px;
        display: flex;
        align-items: center;
    }

    &__button {
        margin-left: auto;
    }
}