@import '../../../styles/helpers/variables';

.apartments {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 321px;
    background: $color-violet-gradient-light;
    opacity: 0.1;
    top: 0;
    left: 0;
  }
}

.top {
  position: relative;
  padding: 45px 0;
}

.title {
  margin: 30px 0 40px;
  font-size: 25px;
}

/* .form {
  background: $color-white;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
  margin-bottom: 21px;

  & form {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }
} */