@import '../../../styles/helpers/variables';

.apartments {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 319px;
    background: $color-violet-gradient-light;
    opacity: 0.1;
    top: 0;
    left: 0;
  }
}

.top {
  position: relative;
  padding: 45px 0 57px;
}
.title {
  margin: 30px 0 40px;
  font-size: 25px;
}
