.news {
  position: relative;
  padding-top: 42px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 62.57px;
}

.search {
  position: absolute;
  content: '';
  top: 31.42px;
  right: -128px;
  //z-index: -1;
}