.social {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: 500;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    & svg {
      fill: $color-black;
    }
  }

  &_news {
    width: 360px;

    & .social__title {
      font-weight: 400;
      margin-right: 15px;
    }

    & .social__item {
      width: 34.15px;
      height: 35px;
      margin-right: 19.82px;

      &:last-child {
        margin-right: 0;
      }
    }

    & .social__link {
      background: rgb(102 78 249 / 10%);
      border-radius: 19px;

      & svg {
        fill: $color-cobalt;
      }
      
    }
  }

  &_contacts {
      width: 110px;

    & .social__item {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    & .social__link {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 25px;

      & svg {
        fill: $color-white;
      }
      
    }
  }

  &_contacts-right {

    & .social__list {
      flex-direction: column;
    }
    
    & .social__item {
      width: 45px;
      height: 45px;
      margin-bottom: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    & .social__link {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 25px;

      & svg {
        fill: $color-white;
        width: 20px;
        height: 20px;
      }
      
    }
  }

}
