.nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    padding-top: 11px;
    padding-bottom: 12px;


    &__main, &__sub {
        display: flex;
    }

    &__main .nav__link {

        &:hover {
            color: $color-black;
            border-bottom: 3px solid $color-yellow;
        }
    }


    &__item {
        margin-right: 44px;

        &:last-child {
            margin-right: 0px;
        }

    }

    &__link {
        color: $color-grey-font;
        display: inline-block;
        height: 28px;
        margin-bottom: -12px;
        
        
        &_map {
            padding-left: 13px;
            position: relative;

            &::before {
                position: absolute;
                width: 8px;
                height: 10px;
                content: '';
                background-color: $color-grey-font;
                mask-image: url('../../../assets/images/icons/map.svg');
                background-repeat: no-repeat;
                top: 15%;
                left: 0px;
            }
            
            &:hover {
                &::before {
                background-color: $color-black;}
            }
        }
        
    }

    &__bookmarks {
        margin-right: 40px;
        position: relative;

        &::after {
            position: absolute;
            width: 16px;
            height: 16px;
            content: '';
            background-color: $color-grey-font;
            mask-image: url('../../../assets/images/icons/heart2.png');
            background-repeat: no-repeat;
            top: 3%;
            right: 0px;
        }

        &:hover {
            &::after {
            background-color: $color-black;}
        }

        & .nav__link {
            font-weight: 500;
            padding-right: 27px;
        }
    }

    &__login .nav__link {
        font-weight: 500;        
        color: $color-cobalt;
    }
}