.button {
  border: none;
  border-radius: 19px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
  text-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_violet-gradient {
    background: $color-violet-gradient;

    &:hover {
      background: $color-violet-gradient-hover;
    }
  }

  &_cobalt {
    background: $color-cobalt;
    border-radius: 33px;
    width: 200px;

    &:hover {
      background: $color-cobalt-hover;
    }
  }

  &_yellow {
    background: $color-yellow;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 33px;
    color: $color-black;

    &:hover {
      background: $color-yellow-hover;
    }

    &:disabled {
      cursor: auto;
    }
  }

  &_yellowLight {
    background: $color-yellow-10;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border-radius: 17px;
    color: $color-yellow-hover;
    text-shadow: none;

    &:hover {
      background: $color-yellow-20;
    }
  }

  &_yellow-icon {
    & svg {
      margin-right: 10px;
      fill: black;
    }
  }

  &_warning {
    background: $color-red;
    border-radius: 33px;
    font-size: 16px;
    padding: 12px 24px;

    & svg {
      margin-left: 15px;
      fill: $color-white-50;
    }

    &:hover {
      background: $color-red-hover;
    }
  }

  &_transparent {
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    color: $color-black;
    padding: 0;
  }

  &_map {
    & svg {
      margin-left: 5px;
      fill: $color-cobalt;
    }

    &:hover {
      color: $color-total-black;

      svg {
        fill: $color-cobalt-hover;
      }
    }
  }

  &_options {
    & svg {
      margin-left: 4px;
      fill: $color-cobalt;
    }

    &:hover {
      color: $color-total-black;

      & svg {
        fill: $color-cobalt-hover;
      }
    }
  }

  &_tag {
    width: auto;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-white-70;
    padding: 8px 14px;
  }

  &_cobaltPhone {
    background: $color-background-white;
    box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
    border-radius: 18px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $color-cobalt;

    & svg {
      fill: $color-cobalt;
      margin-right: 10px;
    }

    &:hover {
      background: #F5F3FF;
    }

    &:active {
      background: $color-background-white;
    }
  }
}
