.button {
  border: none;
  border-radius: 19px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
  text-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_violet-gradient {
    background: $color-violet-gradient;

    &:hover {
      background: $color-violet-gradient-hover;
    }

    &:active {
      background: $color-violet-gradient;
    }
  }

  &_yellow-gradient {
    background: $color-yellow-gradient;
    box-shadow: 0 15px 40px rgb(254 193 0 / 15%);
    border-radius: 17px;
    color: $color-grey-text;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);

    &:hover {
      background: $color-yellow-gradient-hover;
    }

    &:active {
      background: $color-yellow-gradient;
    }

    & svg {
      stroke: $color-grey-text;
      margin-left: 12px;
    }
  }

  &_violet-grad {
    background: $color-violet-gradient-dark;
    box-shadow: 0 15px 40px rgb(0 96 206 / 15%);
    border-radius: 17px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);

    &:hover {
      background: $color-violet-gradient-hover;
    }

    &:active {
      background: $color-violet-gradient-dark;
    }
  }

  &_cobalt {
    background: $color-cobalt;
    border-radius: 33px;
    width: 200px;

    &:hover {
      background: $color-cobalt-hover;
    }

    &:active {
      background: $color-cobalt;
    }
  }

  &_cobalt-arrowGrad {
    background: $color-violet-gradient;
    box-shadow: 0 15px 40px rgb(0 96 206 / 15%);
    border-radius: 17px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $color-white;
    text-shadow: 0 1px 2px rgb(0 0 0 / 10%);

    & svg {
      margin-left: 12px;
      stroke: $color-white;
    }
  }

  &_cobalt-arrow {
    background: $color-cobalt;
    border-radius: 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $color-white;

    &:hover {
      background: $color-cobalt-hover;
    }

    &:active {
      background: $color-cobalt;
    }

    & svg {
      margin-left: 10px;
      stroke: $color-white;
    }
  }

  &_yellow {
    background: $color-yellow;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 33px;
    color: $color-black;

    &:hover {
      background: $color-yellow-hover;
    }

    &:active {
      background: $color-yellow;
    }

    &:disabled {
      cursor: auto;
    }
  }

  &_yellowLight {
    background: $color-yellow-10;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    border-radius: 17px;
    color: $color-yellow-hover;
    text-shadow: none;

    &:hover {
      background: $color-yellow-20;
    }

    &:active {
      background: $color-yellow-10;
    }
  }

  &_yellow-icon {
    & svg {
      margin-right: 10px;
      fill: $color-total-black;
    }
  }

  &_warning {
    background: $color-red;
    border-radius: 33px;
    font-size: 16px;
    padding: 12px 24px;

    & svg {
      margin-left: 15px;
      fill: $color-white-50;
    }

    &:hover {
      background: $color-red-hover;
    }

    &:active {
      background: $color-red;
    }
  }

  &_transparent {
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    color: $color-black;
    padding: 0;
  }

  &_map {
    & svg {
      margin-left: 5px;
      fill: $color-cobalt;
    }

    &:hover {
      color: $color-total-black;

      svg {
        fill: $color-cobalt-hover;
      }
    }
  }

  &_options {
    & svg {
      margin-left: 10px;
      fill: $color-cobalt;
    }

    &:hover {
      color: $color-total-black;

      & svg {
        fill: $color-cobalt-hover;
      }
    }
  }

  &_tag {
    width: auto;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-white-70;
    padding: 8px 14px;
  }

  &_cobaltPhone {
    background: $color-background-white;
    box-shadow: 0 5px 20px rgb(0 96 206 / 10%);
    border-radius: 18px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $color-cobalt;

    & svg {
      fill: $color-cobalt;
      margin-right: 10px;
    }

    &:hover {
      background: #f5f3ff;
    }

    &:active {
      background: $color-background-white;
    }
  }

  &_whiteMap {
    height: 37px;
    background: $color-white;
    border-radius: 19px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $color-black;

    & svg {
      margin-right: 11px;
    }

    &:hover {
      color: $color-yellow-hover;
    }
  }

  &_arrowWhite {
    & svg {
      margin-left: 12px;
      stroke: $color-white;
    }
  }

  &_arrowBlack {
    & svg {
      margin-left: 12px;
      stroke: $color-grey-text;
    }
  }

  &_arrowCobalt {
    & svg {
      margin-left: 12px;
      stroke: $color-cobalt;
    }
  }

  &_transparentCobalt {
    color: $color-cobalt;
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 0;

    &:hover {
      color: $color-cobalt-hover;
    }

    &:active {
      color: $color-cobalt;
    }
  }

  &_yellowArrow {
    padding: 9px 16px;
    background: $color-yellow;
    color: $color-grey-text;

    &:hover {
      background: $color-yellow-hover;
    }

    &:active {
      background: $color-yellow;
    }

    & svg {
      margin-left: 12px;
      stroke: $color-grey-text;
    }
  }

  &_clear {
    background: $color-grey-default;
    border-radius: 22px;
    padding: 10px 16px;
    font-weight: 600;
    color: $color-black;

    &:hover {
      background: $color-grey-default-hover;
    }

    &:active {
      background: $color-grey-default;
    }
  }

  &_liked {
    background: $color-red-10;
    border-radius: 22px;
    font-weight: 600;
    color: $color-red;
    padding: 9px 40px 9px 15px;
    text-shadow: none;
    position: relative;

    &::after {
      position: absolute;
      width: 15px;
      height: 13px;
      content: '';
      background-color: $color-red;
      mask-image: url('../../../assets/images/icons/heart2-default.png');
      mask-size: 15px 13px;
      background-repeat: no-repeat;
      top: calc(50% - 7px);
      right: 15px;
    }

    &:hover {
      &::after {
        transition: mask-image 0.2s ease-in;
        mask-image: url('../../../assets/images/icons/heart2-hover.png');
      }
    }
  }

  &_likedActive {
    &::after {
      transition: mask-image 0.2s ease-in;
      mask-image: url('../../../assets/images/icons/heart2-active.png');
    }

    &:hover {
      &::after {
        transition: mask-image 0.2s ease-in;
        mask-image: url('../../../assets/images/icons/heart2-active.png');
      }
    }
  }

  &_view {
    padding: 10px 15px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-black;
    background: transparent;
    border-radius: 18px;

    & svg {
      fill: $color-grey-light;
      margin-right: 10px;
    }

    &:hover {
      background: $color-grey-default;
    }
    &:active {
      background: $color-white;

      & svg {
        fill: $color-cobalt;
        margin-right: 10px;
      }
    }
  }

  &_viewActive {
    background: $color-white;
    box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);

      & svg {
        fill: $color-cobalt;
        margin-right: 10px;
      }
  }

  &_transparentMap {
    background: $color-white;
    padding: 10px 15px;
    box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
    text-shadow: none;
    border-radius: 18px;
    color: $color-black;
    font-weight: 600;

    & svg {
      fill: $color-cobalt;
      margin-right: 10px;
    }

    &:hover {
      background: $color-grey-default;
    }

    &:active {
      background: $color-white;
    }
  }
}
