.select {
  width: 150px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  &__header {
    display: flex;
    align-items: center;
    width: inherit;
    height: 37px;
    background: $color-grey-default;
    color: $color-grey-dark;
    border: none;
    border-radius: 20px;
    background-image: url('../../../assets/images/icons/arrow.svg');
    background-position: right 16px top 50%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 12px;
    margin-bottom: 10px;
    cursor: pointer;

    &::placeholder {
      color: $color-grey-dark;
      opacity: 1;
    }

    &:hover {
      background: rgb(102 78 249 / 10%);
      background-image: url('../../../assets/images/icons/arrow.svg');
      background-position: right 16px top 50%;
      background-size: 10px 10px;
      background-repeat: no-repeat;
    }

    &:focus {
      outline: none;
    }

    &_active {
      background: $color-white;
      background-image: url('../../../assets/images/icons/arrow.svg');
      background-size: 10px 10px;
      background-repeat: no-repeat;
      box-shadow: (0 5px 15px rgb(135 124 202 / 25%));
      border: 2px solid $color-cobalt-80;
      padding-left: 10px;
      background-position: right 14px top 50%;
      outline: none;

      &:hover {
        background-position: right 14px top 50%;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__list {
    background: $color-white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 40px rgb(135 124 202 / 30%);
    border-radius: 10px;
  }

  &__item {
    height: 37px;
    padding: 10px 15px;
    border-radius: 10px;

    &:hover {
      background-color: $color-grey-default;
      border-radius: 0;
      cursor: pointer;
    }
  }
}
