@import '../../../../styles/helpers/variables';

.filter {
  height: 430px;
  background: url('../../../../assets/images/background.png'), linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 82px;
}

.title {
  line-height: 36px;
  color: $color-white;
  text-shadow: 0 2px 5px rgb(0 14 142 / 30%);
  margin-bottom: 50px;

  & span {
    color: $color-yellow;
  }
}
