@import '../../../../styles/helpers/variables';

.filter {
  height: 430px;
  background: url(../../../../assets/images/background.png), linear-gradient(360deg, #7E6AF3 15.95%, #6540CD 63.1%);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 36px;
  color: $color-white;
  text-shadow: 0px 2px 5px rgba(0, 14, 142, 0.3);
  margin-bottom: 50px;

  & span {
    color: $color-yellow;
  }
}
