@import '../../../styles/helpers/variables';

.fieldset {
    display: flex;
    justify-content: start;
    border: none;
    padding: 0;
    margin: 0;
}

.item {
    //width: 170px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid $color-cobalt-10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
        padding-left: 0px;
    }

    &:nth-child(5) {
        border-right: none;
    }

    & input {
        width: 150px;
    }
}

.itemTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $color-grey-light;
    margin-bottom: 11px;
}

/* .price {
    width: 195px;
    border-right: 1px solid $color-cobalt-10;
} */

.prices {
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $color-cobalt-light;

    & input {
        width: 80px;
        height: 37px;
        padding-left: 14px;
    }
}

.button {
    margin-left: auto;
    display: flex;
    align-items: center;
}