@import '../../styles/helpers/variables';

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fieldsetCity {
  margin-bottom: 22.5px;
}

.top {
  display: flex;
  justify-content: flex-start;
  
}

.topCity {
  border-top: 1px solid $color-cobalt-10;
  border-bottom: 1px solid $color-cobalt-10;
  margin-bottom: 22px;
  box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
}

.container {
  display: flex;
  justify-content: flex-start;
  padding-right: 35px;
}

.item {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid $color-cobalt-10;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:first-child {
    padding-left: 0;
  }

  &:nth-last-child(2) {
    border-right: none;
    margin-left: 30px;
  }

  & input {
    width: 150px;
  }
}

.itemCity {
  padding-top: 22px;
  padding-bottom: 23px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & .itemTitle {
    color: $color-cobalt;
    margin-right: 20px;
    margin-bottom: 0px;
  }

  & .prices {
    width: 220px;

    & input {
      width: 100px;
    }
  }
  
}

.input {
  & ~ ul {
    width: 200px;
  }
}

.itemTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-grey-light;
  margin-bottom: 11px;
}

.prices {
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $color-cobalt-light;

  & input {
    width: 80px;
    height: 37px;
    padding-left: 14px;

    &:hover {
      background: $color-cobalt-5;
    }
  }
}

.button {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.options {
    height: 0;
    max-height: 315px;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 48px;
    

    & .item {
      border-right: none;
      padding: 0;
      margin: 0;
    
      & input {
        width: 200px;
      }
    }
}

.controls {
  display: flex;
  justify-content: flex-end;
}

.sort {
  margin-right: auto;

  & input {
    padding-left: 37px;
    font-weight: 600;
    background-color: $color-white;
    box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
    width: 232px;

    & ~ ul {
      width: 232px;
    }
  }
}

.view {
  display: flex;
  width: 235px;
  margin-right: 65px;
  justify-content: space-between;
}